<h1>This is the dashboard!! You can only access it when you are logged in</h1>
<logOut></logOut><!-- create a directive here for the logout button -->
<button ng-click="dashboardCtrl.testDCtrl()">Testing retrieving logs</button>

<form ng-submit="dashboardCtrl.addLog()">

    <div class="input-group">
      <input required type="text" class="form-control" placeholder="Today's weight" ng-model="dashboardCtrl.dashboard.weight">
    </div>
    <input type="submit" class="btn btn-default" value="Set Weight">
  </form>